img {
  margin: 0px;
  height: 100%;
}

body, html {
  height: 100%;
}

#puzzleWrapper {
  width: 90%;
  overflow: hidden; /* will contain if #first is longer than #second */
  padding: 20px 20px;
}

#puzzleControls {
  width: 100%;
}

#puzzleLeft {
  width: 25%;
  float: left; /* add this */
}

#puzzleText {
    /* width: 25%; */
    /* float: left; add this */
    border: 1px solid red;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 20px;
    padding: 20px;
}

#puzzleResponse {
    padding: 0px 20px;
}

#puzzleCredits {
  font-size: 10px;
  padding-top: 10px;
}

#puzzleImage {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    margin: 20px;
    height: 80%;
}